<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PBCafe" connectionString="Data Source=DESKTOP-0MQMVC1\MSSQLSERVER01;Initial Catalog=PBCafe;Integrated Security=True;Pooling=False" />
    <!-- <add name="PBCafe" connectionString="Data Source=DESKTOP-0MQMVC1\MSSQLSERVER01;Initial Catalog=PBCafe;Integrated Security=True;Pooling=False" /> -->
  </connectionStrings>
</configuration>